
.headerBtn{
    color: #fff;
    padding: 8px 36px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.headerBtn:hover{
    opacity: 0.9;
}

.headerBtnIcon{
    width: 17px;
    height: 100%;
    margin-right: 8px;
}

.headerBtnAmount{
    background-color: #a3331b;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    padding: 3px 12px;
    margin-left: 8px;
    border-radius: 500px;
}

.bump {
    animation: bump 0.3s ease;
}

@keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
}